<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:conf/resource.properties" />

	<context:component-scan base-package="com.huishoucat.manager.controller" />
	<mvc:annotation-driven />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 配置资源映射 -->
	<mvc:resources location="/resources/" mapping="/resources/**" />
	<!-- 拦截器配置 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/login" />
			<mvc:exclude-mapping path="/huishoucat_manager/login" />
			<mvc:exclude-mapping path="/resources/**" />
			<bean class="com.huishoucat.manager.interceptor.LoginInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 配置多媒体解析器 -->
	<!-- 定义文件上传解析器 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设定默认编码 -->
		<property name="defaultEncoding" value="UTF-8"></property>
		<!-- 设定文件上传的最大值5MB，5*1024*1024 -->
		<property name="maxUploadSize" value="15728640"></property>
	</bean>
	<!-- 引用dubbo服务 -->
	<dubbo:application name="lanouehome-manager-web"/>
	<dubbo:registry protocol="zookeeper" address="39.107.226.68:2181"/>	
	<dubbo:reference interface="com.huishoucat.cms.service.IDistrictService" id="districtService" />
	<dubbo:reference interface="com.huishoucat.cms.service.IWasteService" id="wasteService" />
	<dubbo:reference interface="com.huishoucat.cms.service.IWasteAttributeService" id="wasteAttributeService" />
	<dubbo:reference interface="com.huishoucat.cms.service.IWastePriceService" id="wastePriceService" />
	<dubbo:reference interface="com.huishoucat.cms.service.ICategoryService" id="categoryService" />
	<dubbo:reference interface="com.huishoucat.cms.service.IContentService" id="contentService" />
	<dubbo:reference interface="com.huishoucat.cms.service.IBulletinService" id="bulletinService" />
	<dubbo:reference interface="com.huishoucat.cms.service.IItemDescService" id="itemDescService" />
	<dubbo:reference interface="com.huishoucat.ucenter.service.IUserService" id="userService" />
	<dubbo:reference interface="com.huishoucat.ucenter.service.IRecyclerService" id="recyclerService" />
	<dubbo:reference interface="com.huishoucat.ucenter.service.IManagerService" id="managerService" />
	<dubbo:reference interface="com.huishoucat.ucenter.service.IUserAddressService" id="userAddressService" />
	<dubbo:reference interface="com.huishoucat.order.service.IWasteOrderService" id="wasteOrderService" />
	<dubbo:reference interface="com.huishoucat.order.service.IWasteOrderItemService" id="wasteOrderItemService" />
	<dubbo:reference interface="com.huishoucat.order.service.IPointOrderService" id="pointOrderService" />
	<dubbo:reference interface="com.huishoucat.pay.service.IUserBalanceService" id="userBalanceService" />
	<dubbo:reference interface="com.huishoucat.pay.service.IUserTransactionDetailsService" id="userTransactionDetailsService" />
	<dubbo:reference interface="com.huishoucat.pay.service.IUserPointsService" id="userPointsService" />
	<dubbo:reference interface="com.huishoucat.pay.service.IUserPointsDetailsService" id="userPointsDetailsService" />
	<dubbo:reference interface="com.huishoucat.messsage.service.INotificationService" id="notificationService" />
</beans>