<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huishoucat.manager.mapper.TBulletinMapper">
	<resultMap id="BaseResultMap" type="com.huishoucat.manager.pojo.TBulletin">
		<id column="bulletin_id" property="bulletinId" jdbcType="BIGINT" />
		<result column="bulletin_title" property="bulletinTitle"
			jdbcType="VARCHAR" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="is_deleted" property="isDeleted" jdbcType="BIT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs" type="com.huishoucat.manager.pojo.TBulletin"
		extends="BaseResultMap">
		<result column="bulletin_content" property="bulletinContent"
			jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		bulletin_id, bulletin_title, sort, is_deleted, create_time,
		update_time
	</sql>
	<sql id="Blob_Column_List">
		bulletin_content
	</sql>
	<select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs"
		parameterType="com.huishoucat.manager.pojo.TBulletinExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_bulletin
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.huishoucat.manager.pojo.TBulletinExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_bulletin
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from t_bulletin
		where bulletin_id = #{bulletinId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		t_bulletin
		where bulletin_id = #{bulletinId,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.huishoucat.manager.pojo.TBulletinExample">
		delete from t_bulletin
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.huishoucat.manager.pojo.TBulletin">
		insert into t_bulletin
		(bulletin_id, bulletin_title, sort,
		is_deleted, create_time,
		update_time,
		bulletin_content)
		values (#{bulletinId,jdbcType=BIGINT},
		#{bulletinTitle,jdbcType=VARCHAR},
		#{sort,jdbcType=INTEGER},
		#{isDeleted,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
		#{bulletinContent,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.huishoucat.manager.pojo.TBulletin">
		<selectKey keyProperty="bulletinId" resultType="long" order="AFTER">
			select
			last_insert_id()
		</selectKey>
		insert into t_bulletin
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bulletinId != null">
				bulletin_id,
			</if>
			<if test="bulletinTitle != null">
				bulletin_title,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="bulletinContent != null">
				bulletin_content,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bulletinId != null">
				#{bulletinId,jdbcType=BIGINT},
			</if>
			<if test="bulletinTitle != null">
				#{bulletinTitle,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="bulletinContent != null">
				#{bulletinContent,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.huishoucat.manager.pojo.TBulletinExample"
		resultType="java.lang.Integer">
		select count(*) from t_bulletin
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_bulletin
		<set>
			<if test="record.bulletinId != null">
				bulletin_id = #{record.bulletinId,jdbcType=BIGINT},
			</if>
			<if test="record.bulletinTitle != null">
				bulletin_title =
				#{record.bulletinTitle,jdbcType=VARCHAR},
			</if>
			<if test="record.sort != null">
				sort = #{record.sort,jdbcType=INTEGER},
			</if>
			<if test="record.isDeleted != null">
				is_deleted = #{record.isDeleted,jdbcType=BIT},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.bulletinContent != null">
				bulletin_content =
				#{record.bulletinContent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExampleWithBLOBs" parameterType="map">
		update t_bulletin
		set bulletin_id =
		#{record.bulletinId,jdbcType=BIGINT},
		bulletin_title =
		#{record.bulletinTitle,jdbcType=VARCHAR},
		sort =
		#{record.sort,jdbcType=INTEGER},
		is_deleted =
		#{record.isDeleted,jdbcType=BIT},
		create_time =
		#{record.createTime,jdbcType=TIMESTAMP},
		update_time =
		#{record.updateTime,jdbcType=TIMESTAMP},
		bulletin_content =
		#{record.bulletinContent,jdbcType=LONGVARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_bulletin
		set bulletin_id =
		#{record.bulletinId,jdbcType=BIGINT},
		bulletin_title =
		#{record.bulletinTitle,jdbcType=VARCHAR},
		sort =
		#{record.sort,jdbcType=INTEGER},
		is_deleted =
		#{record.isDeleted,jdbcType=BIT},
		create_time =
		#{record.createTime,jdbcType=TIMESTAMP},
		update_time =
		#{record.updateTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.huishoucat.manager.pojo.TBulletin">
		update t_bulletin
		<set>
			<if test="bulletinTitle != null">
				bulletin_title = #{bulletinTitle,jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="bulletinContent != null">
				bulletin_content =
				#{bulletinContent,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where bulletin_id = #{bulletinId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.huishoucat.manager.pojo.TBulletin">
		update
		t_bulletin
		set bulletin_title = #{bulletinTitle,jdbcType=VARCHAR},
		sort
		= #{sort,jdbcType=INTEGER},
		is_deleted = #{isDeleted,jdbcType=BIT},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP},
		bulletin_content =
		#{bulletinContent,jdbcType=LONGVARCHAR}
		where bulletin_id =
		#{bulletinId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huishoucat.manager.pojo.TBulletin">
		update t_bulletin
		set bulletin_title = #{bulletinTitle,jdbcType=VARCHAR},
		sort =
		#{sort,jdbcType=INTEGER},
		is_deleted = #{isDeleted,jdbcType=BIT},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP}
		where bulletin_id =
		#{bulletinId,jdbcType=BIGINT}
	</update>
</mapper>