<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huishoucat.manager.mapper.TDistrictMapper">
	<resultMap id="BaseResultMap" type="com.huishoucat.manager.pojo.TDistrict">
		<id column="district_id" property="districtId" jdbcType="BIGINT" />
		<result column="parent_id" property="parentId" jdbcType="BIGINT" />
		<result column="district_name" property="districtName"
			jdbcType="VARCHAR" />
		<result column="short_name" property="shortName" jdbcType="VARCHAR" />
		<result column="longitude" property="longitude" jdbcType="DECIMAL" />
		<result column="latitude" property="latitude" jdbcType="DECIMAL" />
		<result column="level" property="level" jdbcType="INTEGER" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="is_deleted" property="isDeleted" jdbcType="BIT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		district_id, parent_id, district_name, short_name,
		longitude, latitude, level,
		sort,
		is_deleted, create_time, update_time
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.huishoucat.manager.pojo.TDistrictExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_district
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_district
		where district_id = #{districtId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		t_district
		where district_id = #{districtId,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.huishoucat.manager.pojo.TDistrictExample">
		delete from t_district
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.huishoucat.manager.pojo.TDistrict">
		insert into t_district
		(district_id, parent_id, district_name,
		short_name, longitude,
		latitude,
		level, sort, is_deleted,
		create_time, update_time)
		values
		(#{districtId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT},
		#{districtName,jdbcType=VARCHAR},
		#{shortName,jdbcType=VARCHAR},
		#{longitude,jdbcType=DECIMAL}, #{latitude,jdbcType=DECIMAL},
		#{level,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER},
		#{isDeleted,jdbcType=BIT},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.huishoucat.manager.pojo.TDistrict">
		<selectKey keyProperty="districtId" resultType="long" order="AFTER">
			select
			last_insert_id()
		</selectKey>
		insert into t_district
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="districtId != null">
				district_id,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="districtName != null">
				district_name,
			</if>
			<if test="shortName != null">
				short_name,
			</if>
			<if test="longitude != null">
				longitude,
			</if>
			<if test="latitude != null">
				latitude,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="districtId != null">
				#{districtId,jdbcType=BIGINT},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=BIGINT},
			</if>
			<if test="districtName != null">
				#{districtName,jdbcType=VARCHAR},
			</if>
			<if test="shortName != null">
				#{shortName,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=DECIMAL},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=DECIMAL},
			</if>
			<if test="level != null">
				#{level,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.huishoucat.manager.pojo.TDistrictExample"
		resultType="java.lang.Integer">
		select count(*) from t_district
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_district
		<set>
			<if test="record.districtId != null">
				district_id = #{record.districtId,jdbcType=BIGINT},
			</if>
			<if test="record.parentId != null">
				parent_id = #{record.parentId,jdbcType=BIGINT},
			</if>
			<if test="record.districtName != null">
				district_name = #{record.districtName,jdbcType=VARCHAR},
			</if>
			<if test="record.shortName != null">
				short_name = #{record.shortName,jdbcType=VARCHAR},
			</if>
			<if test="record.longitude != null">
				longitude = #{record.longitude,jdbcType=DECIMAL},
			</if>
			<if test="record.latitude != null">
				latitude = #{record.latitude,jdbcType=DECIMAL},
			</if>
			<if test="record.level != null">
				level = #{record.level,jdbcType=INTEGER},
			</if>
			<if test="record.sort != null">
				sort = #{record.sort,jdbcType=INTEGER},
			</if>
			<if test="record.isDeleted != null">
				is_deleted = #{record.isDeleted,jdbcType=BIT},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_district
		set district_id =
		#{record.districtId,jdbcType=BIGINT},
		parent_id =
		#{record.parentId,jdbcType=BIGINT},
		district_name =
		#{record.districtName,jdbcType=VARCHAR},
		short_name =
		#{record.shortName,jdbcType=VARCHAR},
		longitude =
		#{record.longitude,jdbcType=DECIMAL},
		latitude =
		#{record.latitude,jdbcType=DECIMAL},
		level =
		#{record.level,jdbcType=INTEGER},
		sort =
		#{record.sort,jdbcType=INTEGER},
		is_deleted =
		#{record.isDeleted,jdbcType=BIT},
		create_time =
		#{record.createTime,jdbcType=TIMESTAMP},
		update_time =
		#{record.updateTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.huishoucat.manager.pojo.TDistrict">
		update t_district
		<set>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=BIGINT},
			</if>
			<if test="districtName != null">
				district_name = #{districtName,jdbcType=VARCHAR},
			</if>
			<if test="shortName != null">
				short_name = #{shortName,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				longitude = #{longitude,jdbcType=DECIMAL},
			</if>
			<if test="latitude != null">
				latitude = #{latitude,jdbcType=DECIMAL},
			</if>
			<if test="level != null">
				level = #{level,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where district_id = #{districtId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huishoucat.manager.pojo.TDistrict">
		update t_district
		set parent_id = #{parentId,jdbcType=BIGINT},
		district_name =
		#{districtName,jdbcType=VARCHAR},
		short_name =
		#{shortName,jdbcType=VARCHAR},
		longitude =
		#{longitude,jdbcType=DECIMAL},
		latitude = #{latitude,jdbcType=DECIMAL},
		level = #{level,jdbcType=INTEGER},
		sort = #{sort,jdbcType=INTEGER},
		is_deleted = #{isDeleted,jdbcType=BIT},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP}
		where district_id =
		#{districtId,jdbcType=BIGINT}
	</update>
</mapper>