<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huishoucat.manager.mapper.TWastePriceMapper">
	<resultMap id="BaseResultMap" type="com.huishoucat.manager.pojo.TWastePrice">
		<id column="waste_price_id" property="wastePriceId" jdbcType="BIGINT" />
		<result column="waste_id" property="wasteId" jdbcType="BIGINT" />
		<result column="price_ceiling" property="priceCeiling"
			jdbcType="BIGINT" />
		<result column="price_floor" property="priceFloor" jdbcType="BIGINT" />
		<result column="unit" property="unit" jdbcType="INTEGER" />
		<result column="is_deleted" property="isDeleted" jdbcType="BIT" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		waste_price_id, waste_id, price_ceiling, price_floor, unit,
		is_deleted, create_time,
		update_time
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.huishoucat.manager.pojo.TWastePriceExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_waste_price
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_waste_price
		where waste_price_id =
		#{wastePriceId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		t_waste_price
		where waste_price_id = #{wastePriceId,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample" parameterType="com.huishoucat.manager.pojo.TWastePriceExample">
		delete from t_waste_price
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.huishoucat.manager.pojo.TWastePrice">
		insert into t_waste_price
		(waste_price_id, waste_id, price_ceiling,
		price_floor, unit,
		is_deleted,
		create_time, update_time)
		values
		(#{wastePriceId,jdbcType=BIGINT}, #{wasteId,jdbcType=BIGINT},
		#{priceCeiling,jdbcType=BIGINT},
		#{priceFloor,jdbcType=BIGINT},
		#{unit,jdbcType=INTEGER}, #{isDeleted,jdbcType=BIT},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.huishoucat.manager.pojo.TWastePrice">
		<selectKey keyProperty="wastePriceId" resultType="long"
			order="AFTER">
			select
			last_insert_id()
		</selectKey>
		insert into t_waste_price
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="wastePriceId != null">
				waste_price_id,
			</if>
			<if test="wasteId != null">
				waste_id,
			</if>
			<if test="priceCeiling != null">
				price_ceiling,
			</if>
			<if test="priceFloor != null">
				price_floor,
			</if>
			<if test="unit != null">
				unit,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="wastePriceId != null">
				#{wastePriceId,jdbcType=BIGINT},
			</if>
			<if test="wasteId != null">
				#{wasteId,jdbcType=BIGINT},
			</if>
			<if test="priceCeiling != null">
				#{priceCeiling,jdbcType=BIGINT},
			</if>
			<if test="priceFloor != null">
				#{priceFloor,jdbcType=BIGINT},
			</if>
			<if test="unit != null">
				#{unit,jdbcType=INTEGER},
			</if>
			<if test="isDeleted != null">
				#{isDeleted,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.huishoucat.manager.pojo.TWastePriceExample"
		resultType="java.lang.Integer">
		select count(*) from t_waste_price
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_waste_price
		<set>
			<if test="record.wastePriceId != null">
				waste_price_id = #{record.wastePriceId,jdbcType=BIGINT},
			</if>
			<if test="record.wasteId != null">
				waste_id = #{record.wasteId,jdbcType=BIGINT},
			</if>
			<if test="record.priceCeiling != null">
				price_ceiling = #{record.priceCeiling,jdbcType=BIGINT},
			</if>
			<if test="record.priceFloor != null">
				price_floor = #{record.priceFloor,jdbcType=BIGINT},
			</if>
			<if test="record.unit != null">
				unit = #{record.unit,jdbcType=INTEGER},
			</if>
			<if test="record.isDeleted != null">
				is_deleted = #{record.isDeleted,jdbcType=BIT},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_waste_price
		set waste_price_id =
		#{record.wastePriceId,jdbcType=BIGINT},
		waste_id =
		#{record.wasteId,jdbcType=BIGINT},
		price_ceiling =
		#{record.priceCeiling,jdbcType=BIGINT},
		price_floor =
		#{record.priceFloor,jdbcType=BIGINT},
		unit =
		#{record.unit,jdbcType=INTEGER},
		is_deleted =
		#{record.isDeleted,jdbcType=BIT},
		create_time =
		#{record.createTime,jdbcType=TIMESTAMP},
		update_time =
		#{record.updateTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.huishoucat.manager.pojo.TWastePrice">
		update t_waste_price
		<set>
			<if test="wasteId != null">
				waste_id = #{wasteId,jdbcType=BIGINT},
			</if>
			<if test="priceCeiling != null">
				price_ceiling = #{priceCeiling,jdbcType=BIGINT},
			</if>
			<if test="priceFloor != null">
				price_floor = #{priceFloor,jdbcType=BIGINT},
			</if>
			<if test="unit != null">
				unit = #{unit,jdbcType=INTEGER},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted,jdbcType=BIT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where waste_price_id = #{wastePriceId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.huishoucat.manager.pojo.TWastePrice">
		update
		t_waste_price
		set waste_id = #{wasteId,jdbcType=BIGINT},
		price_ceiling =
		#{priceCeiling,jdbcType=BIGINT},
		price_floor =
		#{priceFloor,jdbcType=BIGINT},
		unit = #{unit,jdbcType=INTEGER},
		is_deleted = #{isDeleted,jdbcType=BIT},
		create_time =
		#{createTime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP}
		where waste_price_id =
		#{wastePriceId,jdbcType=BIGINT}
	</update>
</mapper>